:root {
    --background-color-light: #fff;
    --background-color-dark: #737070;
    --text-color-light: #000;
    --text-color-dark: #fff;
    --card-background-color-light: #fff;
    --card-background-color-dark: #6e6d6d;
    --card-shadow-color-light: rgba(0, 0, 0, 0.2);
    --card-shadow-color-dark: rgba(0, 0, 0, 0.6);
    --button-background-color-light: #00a7e1;
    --button-background-color-dark: #0093c6;
    --button-hover-color-light: #0093c6;
    --button-hover-color-dark: #007bb3;
    --header-background-color-light: #00A7E1;
    --header-background-color-dark: #222;
    --header-text-color-light: #fff;
    --header-text-color-dark: #fff;
  }
  
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  
  .header {
    background: var(--header-background-color-light);
    color: var(--header-text-color-light);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
  
    .header-container {
      display: flex;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
  
      .header-logo {
        display: flex;
        align-items: center;
        font-size: 1.7em;
        font-weight: bold;
        gap: 10px;
  
        .logo-icon {
          font-size: 1.5em;
          line-height: 1;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
  
      .header-nav {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 10px;
  
        .dark-mode-toggle {
          display: flex;
          align-items: center;
          gap: 5px;
          color: inherit;
  
          mat-icon {
            font-size: 1.5em;
          }
  
          .switch {
            position: relative;
            display: inline-block;
            width: 34px;
            height: 20px;
          }
  
          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
  
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 20px;
          }
  
          .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
          }
  
          input:checked + .slider {
            background-color: #2196f3;
          }
  
          input:checked + .slider:before {
            transform: translateX(14px);
          }
        }
  
        .user-avatar {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 10px;
          transition: transform 0.3s ease-in-out;
  
          &:hover {
            transform: scale(1.2);
          }
  
          .avatar-img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: 2px solid rgb(255, 255, 255);
          }
  
          .username {
            font-size: 1.3em;
          }
        }
      }
    }
  
    body.dark-mode & {
      background: var(--header-background-color-dark);
      color: var(--header-text-color-dark);
    }
  
    @media (max-width: 600px) {
      .header-logo {
        font-size: 1.2em;
      }
  
      .logo-icon {
        font-size: 1.2em;
      }
  
      .header-nav .user-avatar .username {
        display: none;
      }
  
      .header-nav .user-avatar .avatar-img {
        width: 30px;
        height: 30px;
      }
    }
  }
  
  .restaurant-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .restaurant-card {
    background-color: var(--card-background-color-light);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--card-shadow-color-light);
    overflow: hidden;
    transition: background-color 0.3s, box-shadow 0.3s;
  
    &:hover {
      box-shadow: 0 0 15px var(--card-shadow-color-light);
    }
  }
  
  body.dark-mode .restaurant-card {
    background-color: var(--card-background-color-dark);
    box-shadow: 0 0 10px var(--card-shadow-color-dark);
  
    &:hover {
      box-shadow: 0 0 15px var(--card-shadow-color-dark);
    }
  }
  
  .restaurant-image {
    height: 200px;
    overflow: hidden;
  }
  
  .restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .restaurant-details {
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-mode .restaurant-details {
    background-color: var(--card-background-color-dark);
    color: var(--text-color-dark);
  }
  
  .restaurant-name {
    font-size: 20px;
    margin: 0;
  }
  
  body.dark-mode .restaurant-name {
    color: var(--text-color-dark);
  }
  
  .restaurant-rating {
    margin: 10px 0;
  }
  
  .rating {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .star {
    color: orange;
  }
  
  body.dark-mode .star {
    color: orange;
  }
  
  .order-btn {
    background-color: var(--button-background-color-light);
    border: none;
    border-radius: 5px;
    color: var(--header-text-color-light);
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .order-btn:hover {
    background-color: var(--button-hover-color-light);
  }
  
  body.dark-mode .order-btn {
    background-color: var(--button-background-color-dark);
    color: var(--header-text-color-dark);
  }
  
  body.dark-mode .order-btn:hover {
    background-color: var(--button-hover-color-dark);
  }
  
  @media only screen and (max-width: 768px) {
    .restaurant-grid {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
  
    .header-container {
      flex-direction: column;
      text-align: center;
    }
  
    .header-nav {
      margin-top: 20px;
    }
  
    .header-nav ul {
      display: block;
    }
  
    .header-nav li {
      margin: 10px 0;
    }
  }
  
  .user-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2f2f2;
  }
  
  .username {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  body.dark-mode .username {
    color: var(--header-text-color-dark);
  }
  